.DS_Store
**/gerbers-*/**
**/gerbers-*.zip
*.FCBak
wearable-v2/*/*-backups
wearable-v2/*/*.xml
wearable-v2/*/*.csv
wearable-v2/*/*.step
wearable-v2/*/*.stp
wearable-v2/*/*.wrl
wearable/pcb/wearable-backups
**/~*.lck
# PCBWay plugin files
*.kicad_pcb.zip
*.kicad_pcb_bom.csv
*.kicad_pcb_netlist.ipc
*.kicad_pcb_positions.csv
**/pcbway_production
